<ion-content>
    <div class="view" [style]="sanitizer.bypassSecurityTrustStyle( 'background-image: url(' + place.picture + ');' )">

        <div class="view-content">
            <h1>{{ place.name }}</h1>

            <div class="back-btn" routerLink="/list">
                <ion-icon name="arrow-round-back"></ion-icon>
            </div>
        </div>
    </div>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-chip color="primary">
                    <ion-label>{{ place.category }}</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col class="rate">{{ place.rate }}</ion-col>
        </ion-row>
    </ion-grid>

    <ion-card>
        <ion-card-content truncateText="200">
            {{ place.description }}
        </ion-card-content>
    </ion-card>
</ion-content>
