<ion-content>
    <ion-slides [options]="sliderOptions">
        <ion-slide
            *ngFor="let slide of slides"
            [style]="sanitizer.bypassSecurityTrustStyle( 'background-image: url(' + slide + ');')"
        >
        </ion-slide>
    </ion-slides>

    <div class="container">
        <div class="content">
            <div class="tagline">
                <div class="logo">
                    <img src="assets/img/logo.png" alt="Logo">
                </div>

                <h1>Beero</h1>
                <p>Un jour, un bar</p>
            </div>
            <div class="button">
                <ion-button size="large" routerLink="/list">Découvrir nos bars</ion-button>
            </div>
        </div>
    </div>
</ion-content>
