<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <div class="homeBtn" routerLink="/home">
                <img src="assets/img/logo.png" alt="Logo">
            </div>
        </ion-buttons>
        <ion-title>Nos bars</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="places.length > 0; else noData">
        <p>Il y à {{ places.length }} bar(s)</p>

        <ion-card
            *ngFor="let place of places"
            [style]="sanitizer.bypassSecurityTrustStyle( 'background-image: url(' + place.picture + ');')"
            [routerLink]="['/detail', place.id]"
        >
            <ion-card-header>
                <ion-card-title>{{ place.name }}</ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>

    <ng-template #noData>
        Aucun bar disponible
    </ng-template>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="secondary" (click)="showPreview()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
